
html {
    background-color: #FFFFFF;
    color: #333333;
}

body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EEEEEE;
    margin: 1.8rem 0.52rem;
    border-radius: 0.3rem;
}

#title {
    font-size: 2.5rem;
    text-align: center;
    padding: 1.3rem 0rem 0rem 0rem;
    margin-bottom: 1rem;
}

#subtitle {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom:  1rem;
}

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    margin: 0.1rem auto;
    padding-bottom: 0.8rem;
    width: 95%;
    background-color: #FFFFFF;
}

#image {
    width: 97%;

}

#img-caption {
    padding: 1.2rem 1.5rem 0.2rem 1.5rem;
    line-height: 1.5;
    text-align: center;
}

#timeline-title {
    text-align: center;
    padding-top: 2rem;
}

ul {
    padding-top: 1.4rem;
}

.time-event {
    padding-bottom: 0.8rem;
    line-height: 1.7rem;
}

ul, blockquote, #quote-author {
    font-size: 1rem;
    width: 78%;
    margin: 0px auto;
}

blockquote {
    margin-top: 2.5rem;
    line-height: 1.4rem;
    font-style: italic;
}

#quote-author {
    padding-top: 1.3rem;
    font-style: italic;
}


#read-more {
    font-size: 1.2rem;
    width: 95%;
    margin: 0 auto;
    padding: 2.5rem 0;
    text-align: center;
    line-height: 1.8rem;
}