@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  font-family: lato;
}


#nav-bar{

float: right;
}
#header{
  position: fixed;
  width: 100%;
  height: auto;
  top: -1px;

}

img {
  height: 40px;
  width: 300px;
}

a {

  padding: 45px;
  height: auto;
}

main {
  clear: both;
}

#title {
  text-align: center;
  font-size: 24px;
}

i {
  color: orange;
}

table {
  border-spacing: 30px;
  margin: auto;
}

form {
  text-align: center;
}

#youtube {
  text-align: center;
}

.type {
  border: 1px solid black;
  width: 25%;
  text-align: center;
  position: relative;
}

#flex {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  height: 300px;
}

h6 {
  background-color: lightgray;
  position: absolute;
  width: 100%;
  height: 30px;
  top: -37px;
  text-align: center;
  padding: 15px 0px 0px 0px;
  font-size: 16px;
}

h5 {
  font-size: 24px;
}

footer-nav {
  float: right;
}

footer {
  margin: auto;
  width: 60%;
  height: 75px;
  background-color: lightgray;

}

@media only screen and (max-width: 1000px) {
    .type-heading {
     font-size: 12px;
    }
  }

