@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

html{
  font-family: Poppins;
  color: white;
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
  url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
}

header{
  text-align: center;
}

form{
  background-color: rgba(27, 27, 50, 0.8);
  margin: auto 30%;
  font-size: 20px;
  padding: 2% 3%;
  border-radius: 25px;
}

#name, #email, #age {
  width: 100%;
  height:25px;
  border-radius: 5px;
  
}