@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}
html{
  font-family: "Open Sans", Arial;
}
h1{
  font-size: 24px;
  
}

nav{
position: fixed;
overflow: auto;
float:left;
width: 20%;
height: 100%;
overflow-y: scroll;
}
  

  main{

    height: 50%;
    float: right;
    width: 77%;

  }

p, li{
  font-size: 14px;
}

code{
  background-color:  #f7f7f7;
}

nav > a {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  text-decoration: none;
  color: teal;
}

nav a:hover {
  text-decoration: underline;
}

#INTRODUCTION {
    padding-top: 50px;
  }

@media only screen and (max-width: 1000px) {
  header{
    display: block;
    width: 100%;
    text-align: center;

  }
  nav{

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-end;
  background-color: rgba(240,240,240, 1);
  position: relative;
  margin-bottom: 50px;
  } hr{
    visibility: hidden; 
  } #main-doc{

    top: 30%;
    max-width: 90%;
    height: auto;
    margin: auto;
    border: none;
    padding: 100px 0px 0px 0px;
  } main {

      float: none;
      
  } a{
    display: flex;
    color: forestgreen;
    flex-wrap: wrap;
  } body{
    border: 2px solid green;
  }
}

